<% content_for :title do %>
  Food Log &ndash; <%= DateTime.now %>
<% end %>
<div id="entries">
  <% @entries.each do |entry| %>
    <%= render entry %>
    <p>
      <%= link_to "Show this entry", entry %>
    </p>
    <br>
  <% end %>
</div>
